.cart {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  margin-right: 24px;
  box-shadow: 1px 7px 20px -7px #72a184;
  z-index: 999;
  background-color: #2a332d;
  width: 355px;
  border-radius: 7px;
}
@media (max-width: 768px) {
  .cart {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 7px 20px -7px #72a184;
    z-index: 999;
    background-color: #2a332d;
    min-width: 50vw;
  }
}

.cart .cart-head {
  display: flex;
  align-items: flex-start;
  padding: 18px 24px;
}

.cart .cart-head p {
  color: #72a184;
  margin: 0;
  font-weight: 700;
  font-size: 25px;

}

.cart hr {
  margin: 0;
  color: var(--ligth-green);
}

.cart .cart-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #2a332d;
  min-height: 160px;
}

.cart .cart-content p.empty {
  color: #72a184;
  font-weight: 700;
}

.cart .cart-content a {
  width: 100%;
}

.cart button.checkout {
  padding: 10px 20px;
  color: #2a332d;
  background-color: var(--ligth-green);
  width: 100%;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  border-radius: 7px;
  transition: 0.3s;
}

.cart button.checkout:hover {
  opacity: 0.6;
}

p.total {
  color: var(--ligth-green);
  font-size: 23px;
}

span.valor-total {
  color: var(--ligth-green);
  font-size: 23px;
  font-weight: 700;
}
.grid-total-producto {
  margin: 24px;
}

.css-1x9zwsu-MuiFormHelperText-root.Mui-error {
  font-size: 24px;
}
